<!--Description: The activities page for the conference site.  -->

{%  extends 'base.html' %}

<!-- Title -->
{% block title %} Activities {% endblock %}

<!-- main content -->
{% block maincontent %}
    <!-- List -->
   <h3>Activity options outside of Lifeguard Training Conference:</h3>
    <ol class="activitylist">
        <li>Bike Ride</li>
        <li>Picnic</li>
        <li>Museum Tours</li>
    </ol>

    <!-- Video -->
    <div class="video">
        <video src="../static/images/pexels-rodnae-productions-6529560.mp4" controls autoplay width="500" height="400"></video>
    </div>
{% endblock %}
