<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="../static/css/webdefault.css" type="text/css" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <div class="gridcontainer">

            <div><a href="/">index.html</a>
                <br></div>

            <div><a href="awards.html">awards.html</a>
                <br></div>

            <div><a href="activities.html">activities.html</a>
                <br></div>

            <div><a href="meals.html">meals.html</a>
                <br></div>

            <div><a href="keynote.html">keynote.html</a>
                <br></div>

            <div><a href="workshopschedule.html">workshopschedule.html</a>
                <br></div>

            <div><a href="registration.html">registration.html</a>
                <br></div>

            <div><a href="poll.html">poll.html</a>
                <br></div>

            <div><a href="thankyou.html">thankyou.html</a>
                <br></div>

            <div><a href="admin.html">admin.html</a>
                <br></div>

        </div>
    </nav>
</header>
</body>
</html>