{%  extends 'base.html' %}
<!DOCTYPE html>
<html lang="en-us">
<!--    Name: Quinn Maloney
        Assignment: CS336 Assignment #4
        Created: 9/15/2021
        Description: The template page for the conference site.  -->

<!-- Title -->
<head>
    <title>This is The Page Title</title>
    <link href="../static/css/webdefault.css" type="text/css" rel="stylesheet" />

<!--  Meta Elements: -->
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="encoding" content="utf-8" >
    <meta name="description"
      content="Lifeguard Training Course" />
    <meta name="keywords"
      content="Lifeguard Training" />
    <meta name="robots"
      content="index, follow" />
    <meta name="author"
      content="Quinn Maloney" />
    <meta name="pragma"
      content="no-cache" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

</head>

<!-- Page Structure: -->
<body>
<header>
    <h1>Lifeguard Training Conference Information</h1>

    <nav>
        <div class="gridcontainer">

            <div><a href="index.html">index.html</a>
                <br></div>

            <div><a href="awards.html">awards.html</a>
                <br></div>

            <div><a href="activities.html">activities.html</a>
                <br></div>

            <div><a href="meals.html">meals.html</a>
                <br></div>

            <div><a href="keynote.html">keynote.html</a>
                <br></div>

            <div><a href="workshopschedule.html">workshopschedule.html</a>
                <br></div>

            <div><a href="registration.html">registration.html</a>
                <br></div>

            <div><a href="poll.html">poll.html</a>
                <br></div>

            <div><a href="thankyou.html">thankyou.html</a>
                <br></div>

            <div><a href="admin.html">admin.html</a>
                <br></div>

        </div>
    </nav>
</header>

<main>
    <p>The main roles of a lifeguard are to prevent accidents by spotting potential hazards before they become life <br />
    threatening, and to respond to emergencies when they occur.</p>

    <p>Additionally, they also educate the public about the potential risks associated in aquatic facilities <br />
    and how to prevent these risks and be safe during aquatic activities.</p>
</main>


<!-- footer -->
<footer>
    <br>
    <h3>Author Information</h3>
    <address>
        <p><small><a href="mailto:qmaloney@regis.edu"> qmaloney@regis.edu</a></small><br />
            <small>1234 Example St., Springfield.</small><br />
            <small>(123)-456-7891</small></p>
        <p><small>While this web site was created to satisfy the requirement of <br />
            building a web site for an academic course at Regis University, the <br />
            views and opinions expressed on this web site are solely those of <br />
            the original author and do not necessarily represent the views and <br />
            opinions of Regis University.</small></p>
    </address>
</footer>
</body>
</html>

